* {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

h1, code, a {
    color: white;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    background: black;
}

nav {
    background: navy;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-weight: bold;
    padding: 0.75em 2em;
}

footer {
    font-size: 0.8em;
    background-color: #444;
    color: #fff;
    padding: 2em 15%;
}

footer a {
    color: #d0b87c;
}

footer a:not(:hover) {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.spacebetween {
    justify-content: space-between;
}

.blockchildren > * {
    display: block;
}

.tright {
    text-align: right;
}